{% extends 'base.html' %}
{% block content %}
    <main>
        <div>
            <p>
                <h1>
                    <span>Did you know?</span><span>Lots of puppies in the world are homeless?</span>
                </h1>
            </p>
            <h1>
                <span>Adopt-A-Puppy Today and Join the cause</span>
            </h1>
        </div>
        <div class="puppy_slide_show">
            <div id="slideshow">
                <img src="/images/Puppy_1.jpeg" alt="Puppy" id="slide">
            </div>
        </div>
        <div class="maincontent">
            <p>
                <h1>
                    <span>Puppies are so cute...</span>
                    <span>Don't you think so?</span>
                </h1>
            </p>
            <p>
                <h1>
                    <span>
                        Interested in adopting one cute bundle of joy,<a href="/Adopt-A-Puppy.html">Check out our selection &rightarrow;</a>
                    </span>
                </h1>
            </p>
            <p><h1>
                <span>Everyday lots of puppies die on the streets</span> <span>all lonely and afraid</span>
                <span>We have taken it upon ourselves to rescue the homeless puppies we come across</span>
                <span> We would be grateful if you supported our cause. <a href="#">Donate here &rightarrow;</a></span>  
            </h1></p>
            <p>
                <h1>
                    <span>
                        Help save someone's new best friend
                    </span>
                </h1> 
            </p>
        </div>
    </main>
{% endblock %}